# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/App.structs.h
ios/Flutter/App.framework.dSYM
android/app/key.properties
android/app/local.properties
android/.gradle
*web/index.html.gz
*web/flutter_service_worker.js
*web/main.dart.js
*web/main.dart.js.map
*web/main.dart.js.deps
*web/main_module.bootstrap.js
*web/main_module.js
*web/main_module.js.map
*.iml
*.ipr
*.iws
.idea/
.vscode/
.DS_Store

# Databases & Backups
*.sql
*.sqlite
*.db
backups/
dumps/
database_backups/

# Others
*.exe
*.dll
*.so
*.dylib
lib.zip
